<tr id="<%= email.id %>">
  <td style="width: 25%">
  <%= link_to(email, remote: true) do %>
    <% if email.read == false %>
      <strong id="object-<%= email.id %>" class="text-danger"><%= email.object %></strong>
    <% else %>
      <strong id="object-<%= email.id %>"><%= email.object %></strong>
    <% end %>
  <% end %>
  </td>
  <td class="text-justify"></td>
</tr>